<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Member Manager</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-dark">
    @{ 
        var cls = ViewBag.Title == "Log in" ? "card-login" : "card-register";
    }
    <div class="container">
        <div class="card @cls mx-auto mt-5">
            <div class="card-header">@ViewBag.Title</div>
            <div class="card-body">
                @RenderBody()               
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/customJS")
    @RenderSection("scripts", required: false)


</body>
</html>
